<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Signup Page</title>
</head>
<body>
    <h1>Signup</h1>
    <form action="#" th:action="@{/signup}" method="post" th:object="${user}">
       
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" required>
        <br><br>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" required>
        <br><br>
        <label for="username">Username:</label>
        <input type="text" id="username" name="userName" required>
        <br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br><br>
        <button type="submit">Signup</button>
    </form>
    <p>Already have an account? <a href="/login">Login</a></p>
</body>
</html>
